<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="footer" class="footer">
<!--        footer영역입니다.-->
       <footer class="text-center">
           Bootstrap <br>
           Designed and built with all the love in the world by the Bootstrap team with the help of our contributors.<br>
           Code licensed MIT, docs CC BY 3.0.<br>
           <strong>2023 shopping mall made by kimssam class</strong>
       </footer>
    </div>
</body>
</html>